
/*
.leaflet-container{
  width: 100%;
  height: 100vh;
}
  */

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -10px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.fade-transition-enter {
  opacity: 0;
}
.fade-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.fade-transition-exit {
  opacity: 1;
}
.fade-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.text-inputs-container {
  text-align: left;
}

.radio-buttons-container {
  text-align: left;
}

.radio-button {
  display: block;
}



